importFrom(stats, na.omit, glm, binomial, predict)
importFrom(caTools, sample.split)
importFrom(rattle, xgboost)
importFrom(RWeka, J48)
importFrom(C50, C5.0)
importFrom(party, ctree, ctree_control)
importFrom(KernelKnn, KernelKnn)
importFrom(nnet, multinom)
importFrom(earth, earth)
importFrom(e1071, naiveBayes, svm)
importFrom(rpart, rpart, rpart.control)
importFrom(randomForest, randomForest)
importFrom(methods, is)
importFrom(scales, rescale)
importFrom(caret, confusionMatrix)
importFrom(pROC, multiclass.roc)
importFrom(ABCanalysis, ABCanalysis)

